<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="row mb-3">
                        <div class="col-md-10">
                            <h1 class="h3 d-inline align-middle">Lista de productos </h1>
                        </div>
                        <div class="col-md-2" *ngIf="idRole === '1' && role == 'ADMINISTRADOR'">
                            <button class="ms-7 btn btn-success btn-sm" title="Registrar producto"
                                (click)="openModalNewProduct()">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </div>
                    </div>
                <div>
                    <p> {{ countRangeRegister() }} </p>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let product of productsFilter | paginate: { itemsPerPage: recordPerPage, currentPage: currentPage }">
                                <td>{{ product.name }}</td>
                                <td>{{ product.amount }}</td>
                                <td>{{ product.price }}</td>
                                <td>
                                    <span *ngIf="product.state === 'Activo'">
                                        {{ product.state }} <i class="fas fa-circle fa-sm text-success"></i>
                                    </span>
                                    <span *ngIf="product.state === 'Inactivo'">
                                        {{ product.state }} <i class="fas fa-circle fa-sm text-danger"></i>
                                    </span>
                                </td>
                                <td>
                                    <button class="ms-1 btn btn-info btn-sm" title="Ver"
                                        (click)="openModalSeeProduct(product.idProduct)">
                                        <i class="far fa-eye"></i>
                                    </button>
                                    <span *ngIf="idRole === '1' && role == 'ADMINISTRADOR'">
                                        <button class="ms-1 btn btn-primary btn-sm" title="Editar"
                                            (click)="openModalEditProduct(product.idProduct)">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button class="ms-1 btn btn-success btn-sm" title="Subir imagen"
                                            (click)="openModalUploadImage(product.idProduct)">
                                            <i class="fas fa-image"></i>
                                        </button>
                                        <button class="ms-1 btn btn-danger btn-sm" title="Eliminar"
                                            (click)="delete(product.idProduct)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3 pagination">
                        <pagination-controls (pageChange)="currentPage=$event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal new producto-->
<div bsModal #ModalNewProduct="bs-modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h3 class="modal-title text-white fs-2 fw-bolder"><i class="fas fa-store"></i> Nuevo producto</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    (click)="ModalNewProduct.hide()"></button>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" (submit)="save()">
                    <p class="text-success">
                        Los campos con asterisco (*) son obligatorios.
                    </p>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label id="labelNames" class="labelForm">Nombres *</label>
                            <input class="form-control" type="text" name="name" [(ngModel)]="newProduct.name" required>
                        </div>
                        <div class="col-md-4">
                            <label id="labelLastName" class="labelForm">Cantidad *</label>
                            <input class="form-control" type="text" name="brand" [(ngModel)]="newProduct.amount"
                                required>
                        </div>
                        <div class="col-md-4">
                            <label id="labelNames" class="labelForm">Precio *</label>
                            <input class="form-control" type="text" name="value" [(ngModel)]="newProduct.price"
                                required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <a class=" btn btn-primary" title="Restablecer formulario" (click)="resetFormNewProduct()">
                            <i class="fas fa-redo-alt"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal edit producto-->
<div bsModal #ModalEditProduct="bs-modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="modal-title text-white fs-2 fw-bolder"><i class="fas fa-edit"></i> Editar producto</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    (click)="ModalEditProduct.hide()"></button>
            </div>

            <div class="modal-body">
                <form id="form-CreateUser" class="form-horizontal" (submit)="edit(idProduct)">
                    <p class="text-primary">
                        Los campos con asterisco (*) son obligatorios.
                    </p>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label id="labelNames" class="labelForm">Nombres *</label>
                            <input class="form-control" type="text" name="name" [(ngModel)]="name" required>
                        </div>
                        <div class="col-md-4">
                            <label id="labelLastName" class="labelForm">Marca *</label>
                            <input class="form-control" type="text" name="amount" [(ngModel)]="amount" required>
                        </div>
                        <div class="col-md-4">
                            <label id="labelNames" class="labelForm">Valor *</label>
                            <input class="form-control" type="text" name="price" [(ngModel)]="price" required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal see product-->
<div bsModal #ModalSeeProduct="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
    data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h3 class="modal-title text-white fs-2 fw-bolder"><i class="fas fa-table"></i> Detalles del produto</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    (click)="ModalSeeProduct.hide()"></button>
            </div>

            <div class="modal-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td style="width: 200px"><b>Id</b></td>
                            <td>{{idProduct}}</td>
                        </tr>
                        <tr>
                            <td style="width: 200px"><b>Nombres</b></td>
                            <td>{{name}}</td>
                        </tr>
                        <tr>
                            <td style="width: 200px"><b>Cantidad</b></td>
                            <td>{{amount}}</td>
                        </tr>
                        <tr>
                            <td style="width: 200px"><b>Precio</b></td>
                            <td>{{price}}</td>
                        </tr>
                        <tr id="tr-file">
                            <td style="width: 200px"><b>Estado</b></td>
                            <td>
                                <span *ngIf="state == 'Activo'">
                                    Activo <i class="fas fa-circle fa-sm text-success"></i>
                                </span>
                                <span *ngIf="state == 'Inactivo'">
                                    Inactivo <i class="fas fa-circle fa-sm text-danger"></i>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 200px"><b>Imagen</b></td>
                            <td *ngIf="image ; else elseImageBlock">
                                <img [src]="image" style="width: 100px; height: 100px;">
                            </td>
                            <ng-template #elseImageBlock>
                                <td><small>Este producto no cuenta con una imagen.</small></td>
                            </ng-template>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Modal upload image-->
<div bsModal #ModalUploadImage="bs-modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h3 class="modal-title text-white fs-2 fw-bolder"><i class="fas fa-image"></i> Subir imagen</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="ModalUploadImage.hide()">
                </button>
            </div>

            <div class="modal-body">
                <form id="uploadImage" class="form-horizontal" (submit)="uploadImage(idProduct)">

                    <div class="row mb-4">
                        <div class="col-md-6">
                            <input class="form-control" type="file" name="image">
                        </div>
                        <div class="col-md-6">


                            <div *ngIf="image ; else elseUploadImageBlock">
                                <img [src]="image" style="width: 350px; height: 300px;">
                            </div>
                            <ng-template #elseUploadImageBlock>
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <small>Este producto no cuenta con una imagen.</small>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>
                            </ng-template>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>