<h1 class="h3 d-inline align-middle">Bienvenido: {{username}}</h1>

<div class="row mt-5">
    <div class="col-xl-6 col-xxl-5 d-flex">
        <div class="w-100">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0 ms-2">
                                    <h3 class="card-title">5 ultimos usuarios</h3>
                                </div>

                                <div class="col-auto">
                                    <div class="stat text-primary">
                                        <i class="fas fa-users"></i>
                                    </div>
                                </div>
                            </div>
                            <ul>
                                <li *ngFor="let user of users">
                                    <b>Nombres: </b> {{ user.fullname }} <br> <b>Usuario:</b> {{ user.username }}
                                    <br><br>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0 ms-2">
                                    <h5 class="card-title">5 ultimos productos</h5>
                                </div>

                                <div class="col-auto">
                                    <div class="stat text-primary">
                                        <i class="fas fa-store"></i>
                                    </div>
                                </div>
                            </div>
                            <ul>
                                <li *ngFor="let product of products">
                                    <b>Nombre: </b> {{ product.name }}
                                    <br><br>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>