<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand no-underline" href="/principal">
            <h3>Telconet</h3>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Menú
            </li>

            <li id="dashboard-item" class="sidebar-item">
                <a class="sidebar-link" href="/principal">
                    <i class="fas fa-grip-horizontal"></i>
                    <span class="align-middle">Principal</span>
                </a>
            </li>

            <li id="products" class="sidebar-item">
                <a class="sidebar-link" href="productos">
                    <i class="fa-solid fa-store"></i>
                    <span class="align-middle">productos</span>
                </a>
            </li>

            <li id="users-item" class="sidebar-item">
                <a class="sidebar-link" href="usuarios">
                    <i class="fa-solid fa-users"></i>
                    <span class="align-middle">Usuarios</span>
                </a>
            </li>

        </ul>
    </div>
</nav>