<div class="mb-3">
    <div>
        <h1 class="h3 d-inline align-middle">Lista de usuarios </h1>

        <div *ngIf="idRole === '1' && role == 'ADMINISTRADOR'">
            <button class="btn btn-success btn-sm" (click)="openModalBulkLoad()">
                <i class="fas fa-users"></i>
            </button>
            <button class="ms-1 btn btn-success btn-sm" (click)="openModalSaveUser()">
                <i class="fas fa-user-plus"></i>
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-9">
                        <button class="btn btn-danger btn-sm" title="Descargar pdf" (click)="exportToPDF()">
                            <i class="fas fa-file-pdf"></i>
                        </button>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="search" placeholder="Buscar" (input)="filter()"
                            [(ngModel)]="search">
                    </div>
                </div>
                <table class="table table-striped table-hover" #usersTables>
                    <thead>
                        <tr>
                            <th>Nombres y Apellidos</th>
                            <th>Usuario</th>
                            <th>Correo electrónico</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{ user.fullname }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.mail }}</td>
                            <td>
                                <span *ngIf="user.state == 'Activo'">
                                    {{user.state}} <i class="fas fa-circle fa-sm text-success"></i>
                                </span>
                            </td>
                            <td>
                                <span *ngIf="idRole === '1' && role == 'ADMINISTRADOR'">
                                    <button class="ms-1 btn btn-primary btn-sm" title="Editar"
                                        (click)="openModalEditUser(user.idUser)">
                                        <i class="fas fa-pencil"></i>
                                    </button>
                                    <button class="ms-1 btn btn-danger btn-sm" title="Eliminar"
                                        (click)="statusChange(user.idUser, 'Inactivo')">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #ModalBulkLoad="bs-modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h3 class="modal-title text-white fs-2 fw-bolder"><i class="fas fa-users"></i> Carga masiva de usuarios
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="ModalBulkLoad.hide()"></button>
            </div>

            <div class="modal-body">
                <form id="form-CreateUser" class="form-horizontal" (submit)="bulkLoad()">
                    <p class="text-success">
                        Los campos con asterisco (*) son obligatorios.
                    </p>

                    <div class="mb-3">
                        <label for="file" class="form-label">Selecciona un archivo</label>
                        <input class="form-control" type="file" id="file" (change)="onFileSelected($event)">
                    </div>

                    <div class="table-responsive mt-4" *ngIf="showTable">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Nombres y Apellidos</th>
                                    <th>Nombre de usuario</th>
                                    <th>Correo electrónico</th>
                                    <th>Contraseña</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let fila of dataTable">
                                    <td *ngFor="let campo of fila">{{ campo }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger" (click)="ModalBulkLoad.hide()">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div bsModal #ModalSaveUser="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
    data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h3 class="modal-title text-white fs-2 fw-bolder"><i class="fas fa-user-plus"></i> Nuevo usuario</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="ModalSaveUser.hide()"></button>
            </div>

            <div class="modal-body">
                <form id="form-UpdateUser" class="form-horizontal" (submit)="save()">
                    <p class="text-success">
                        Los campos con asterisco (*) son obligatorios.
                    </p>

                    <div class="form-group mb-4">
                        <label id="fullname" class="labelForm">Nombres y Apellidos *</label>
                        <input class="form-control inputForm" type="text" name="fullname" [(ngModel)]="newUser.fullname"
                            required>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-6">
                            <label id="labelNames" class="labelForm">Nombre de usuario *</label>
                            <input class="form-control" type="text" name="name" [(ngModel)]="newUser.username" required>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label id="labelEmail" class="labelForm">Correo electrónico *</label>
                                <input class="form-control" type="email" name="email" [(ngModel)]="newUser.mail"
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-4">
                        <label id="fullname" class="labelForm">Contraseña *</label>
                        <input class="form-control inputForm" type="text" name="fullname" [(ngModel)]="newUser.password"
                            required>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger" (click)="ModalSaveUser.hide()">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div bsModal #ModalEditUser="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
    data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="modal-title text-white fs-2 fw-bolder"><i class="fas fa-user-edit"></i> Editar usuario</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="ModalEditUser.hide()"></button>
            </div>

            <div class="modal-body">
                <form id="form-UpdateUser" class="form-horizontal" (submit)="edit(idUser)">
                    <p class="text-primary">
                        Los campos con asterisco (*) son obligatorios.
                    </p>

                    <div class="form-group mb-4">
                        <label id="fullname" class="labelForm">Nombres y Apellidos *</label>
                        <input class="form-control inputForm" type="text" name="fullname" value={{fullname}}
                            [(ngModel)]="fullname" required>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-6">
                            <label id="labelNames" class="labelForm">Nombre de usuario *</label>
                            <input class="form-control" type="text" name="name" [(ngModel)]="username"
                                value={{username}} required>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label id="labelEmail" class="labelForm">Correo electrónico *</label>
                                <input class="form-control" type="email" name="email" [(ngModel)]="mail" value={{mail}}
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Editar</button>
                        <button type="button" class="btn btn-danger" (click)="ModalEditUser.hide()">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>